@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,800,900&display=swap&subset=cyrillic-ext');
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    /* background: #E7F3FA; */
}
.overflow-hidden {
    overflow: hidden;
}
input {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
button {
    overflow: hidden;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    cursor: pointer;
}

main {
    width: 100vw;
    height: auto;
    background: url(img/bg.png) no-repeat center;
    background: url(img/bg.webp) no-repeat center;
    background-size: 100% 100%;
    padding-bottom: 150px;
}
.custom-container {
    max-width: 1280px;
    margin: 0 auto;
}

/* header */
header {
    width: 100%;
}
header .custom-container {
    padding: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-family: Montserrat;
    font-weight: 900;
    color: #22313b;
}
.logo a:not(.logo__text_link) {
    display: block;
    line-height: 1;
    text-decoration: none;
    color: #22313B;
    font-size: 28px;
    margin-right: 10px;
    font-weight: 700;
}
.logo__text {
    color: #22313B;
    line-height: 1.1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.logo__text_body {
    font-size: 12px;
    font-weight: 700;
}
.logo__text_link {
    color: #22313b;
    text-decoration: none;
    font-size: 12px;
    font-family: "Montserrat";
    font-weight: 700;
    margin-top: 2px;
    margin-left: -163px;
}
.logo__text_link p {
    display: inline-block;
}
.logo__text_link span {
    display: none;
}
.label {
    margin-top: -21px;
    height: 122px;
    width: 351px;
    background: #54A1E9;
    -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 100%, 50% 90%, 0 100%);
            clip-path: polygon(0 1%, 100% 1%, 100% 100%, 50% 90%, 0 100%);
}
.label__rect {
    margin-top: 15px;
    height: calc(100% - 21px);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.label__place {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}
.label__place img {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    width: 23px;
}
.label__pravo {
    padding-left: 10px;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
}
.label__pravo a {
    color: #fff;
}
.phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 1;
    font-size: 50px;
    font-family: "Open Sans";
    font-weight: 700;
    color: #22313b;
    -webkit-text-decoration-color: #1081ec;
            text-decoration-color: #1081ec;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
}
/* END:header */

/* communication */
.communication {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 500px;
}
.buyout {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 63%;
            flex: 0 0 63%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.buyout__head {
    font-size: 42px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: #253640;
    margin-bottom: 15px;
}
.kwis.custom-container,
.buyout__price.custom-container,
.buyout__form.custom-container,
.buyout__head.custom-container {
    max-width: none;
    margin-left: 0;
}
.buyout__head p span {
    color: #1081ec;
}
.buyout__head_link-blue,
.buyout__head_link-black {
    color: #253640;
    text-decoration: none;
    position: relative;
}
.buyout__head_link-black::after {
    content: '— —  посмотреть список  — —';
}
.buyout__head_link-blue::after {
    content: '— — — —   посмотреть список   — — —';
}
.buyout__head_link-black::after,
.buyout__head_link-blue::after {
    position: absolute;
    bottom: -2px;
    left: 0;
    display: block;
    width: 100%;
    background-size: 100% 100%;
    -webkit-transform: translateY(70%);
        -ms-transform: translateY(70%);
            transform: translateY(70%);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 1px;
    text-align: center;
    color: #253640;
}
.buyout__price {
    font-weight: 700;
    font-size: 30px;
    color: #253640;
}
.buyout__price_per {
    margin-bottom: 8px;
}
.buyout__price span { 
    display: inline-block;
    padding: 5px;
    color: #2e3f49;
    border-radius: 4px;
    border: 3px solid #2e3f49;
}
.buyout__form,
.buyout__form1
.modal__form {
    padding-top: 44px;
}
.buyout__form1 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
}
.modal__form-enter,
.buyout__form-enter,
.buyout__form-enter1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.buyout__form-enter1 {
    position: relative;
}
.buyout__form-enter1::before {
    content: '+7';
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 20px;
    height: 100%;
}
.modal__form input[type="email"],
.buyout__form input[type="tel"],
.buyout__form1 input[type="tel"] {
    font-size: 30px;
    max-width: 400px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.modal__form input[type="email"] {
    max-width: 300px;
}
.modal__form1 button[type="submit"] span 
.buyout__form1 button[type="submit"] span {
    font-weight: 700;
}
.modal__form button[type="submit"],
.modal__form input[type="email"],
.buyout__form1 button[type="submit"],
.buyout__form1 input[type="tel"],
.buyout__form button[type="submit"],
.buyout__form input[type="tel"] {
    min-height: 60px;
    height: auto;
    padding: 0 20px;
    border: none;
}
.modal__form input[type="email"],
.buyout__form1 input[type="tel"],
.buyout__form input[type="tel"] {
    border: 2px solid #00B75A;
}
.buyout__form1 input[type="tel"] {
    padding-left: 60px;
}
.modal__form button[type="submit"],
.buyout__form1 button[type="submit"],
.buyout__form button[type="submit"] {
    background: #00B75A;
    margin-left: -5px;
    color: #fff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-weight: 700;
    text-align: left;
    position: relative;
    padding-left: 67px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    z-index: 1;
    font-size: 16px;
}
.modal__form button[type="submit"]:before,
.buyout__form1 button[type="submit"]:before,
.buyout__form button[type="submit"]:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    width: 100%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: #22313B;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    opacity: 0.6;
    z-index: -1;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
}
.modal__form button[type="submit"]:hover:before,
.buyout__form1 button[type="submit"]:hover:before,
.buyout__form button[type="submit"]:hover:before {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
}
.modal__form button[type="submit"] {
    padding-left: 20px;
}
.buyout__form1 button[type="submit"]::after,
.buyout__form button[type="submit"]::after {
    content: '';
    position: absolute;
    top: 8px;
    left: 15px;
    display: block;
    background: url(img/hand.png) no-repeat;
    background-size: contain;
    width: 42px;
    height: 44px;
}
.modal__form_checkbox,
.buyout__form_checkbox,
.buyout__form_checkbox1 {
    padding-top: 8px;
    position: relative;
}
.modal__form_checkbox label,
.buyout__form_checkbox label,
.buyout__form_checkbox1 label {
    text-transform: uppercase;
    position: relative;
    padding-left: 25px;
    font-size: 9px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.modal__form_checkbox label a,
.buyout__form_checkbox label a,
.buyout__form_checkbox1 label a {
    color: #253640;
}
.modal__form_checkbox label::before,
.buyout__form_checkbox label::before,
.buyout__form_checkbox1 label::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    height: 20px;
    width: 20px;
    background-color: #00B75A;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}
.modal__form_checkbox input[type=checkbox],
.buyout__form_checkbox input[type=checkbox],
.buyout__form_checkbox1 input[type=checkbox]  {
    opacity: 0;
    top: 10px;
    left: 17px;
    position: absolute;
}
.modal__form_checkbox input[type=checkbox]:checked + label::before,
.buyout__form_checkbox input[type=checkbox]:checked + label::before,
.buyout__form_checkbox1 input[type=checkbox]:checked + label::before {
    content: '\2714';
}
.watch-video {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 37%;
            flex: 0 0 37%;
    height: 100%;
}
.watch-video__clip {
    width: inherit;
    position: relative;
    height: inherit;
    overflow: hidden;
    padding-left: 20px;
    padding-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background: url(img/bg-small.png) no-repeat center;
    background: url(img/bg-small.webp) no-repeat center;
    background-size: contain;
}
.watch-video__clip img {
    position: absolute;
    top: 0;
    height: inherit;
    left: -50%;
    z-index: 0;
}
.watch-video__play {
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #fff;
    padding-right: 15px;
    border-radius: 70px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.watch-video__play-link {
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid #00B75A;
    background: #fff;
    -webkit-box-shadow: 0px 0px 17px -3px rgba(37,54,64,1);
    box-shadow: 0px 0px 17px -3px rgba(37,54,64,1);
    -webkit-animation: pulseShadow 1s infinite alternate;
            animation: pulseShadow 1s infinite alternate;
}
.watch-video__play-triangle {
    display: block;
    -webkit-clip-path: polygon(100% 50%, 0 0, 0 100%);
            clip-path: polygon(100% 50%, 0 0, 0 100%);
    background: #00B75A;
    width: 30px;
    height: 38px;
    margin-left: 6px;
}
.watch-video__play-label {
    z-index: 1;
    font-size: 19px;
    color: #253640;
    font-weight: 700;
    padding: 8px 20px;
    line-height: 1.3;
}
.watch-video__play-label p {
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 5px;
}
/* END:communication */

/* kwis */
.kwis {
    margin-top: 15px;
}
.kwis__title {
    color: #253640;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}
.kwis__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.kwis__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #fff;
    margin-right: 10px;
    border-radius: 6px;
    padding: 5px 10px;
    position: relative;
}
.kwis__card_marker {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #00b75a;
}
.kwis__card_text {
    color: #1d1f24;
    font-size: 11px;
    font-weight: 700;
    line-height: 1;
}
.kwis__card_free {
    position: absolute;
    top: 0;
    right: 5px;
    -webkit-transform: translateY(-55%);
        -ms-transform: translateY(-55%);
            transform: translateY(-55%);
    border-radius: 6px;
    background-color: #00b75a;
    color: #ffffff;
    font-size: 9px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    padding: 3px 7px;
}

.kwiss__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
}
.kwis__button {
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 20px;
    padding-right: 50px;
    border: 0;
    outline: none;
    border-radius: 10px;
    background-color: #00b75a;
}
.kwis__button_img {
    margin-right: 10px;
}
.kwis__button_img:nth-child(2) {
    display: none;
}
.kwis__button_text {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}
.kwis__button_subtext {
    display: block;
    color: #ffffff;
}
.kwis__arrow {
    margin-left: 30px;
    height: 75px;
    margin-top: -15px;
    -webkit-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
            transform: rotate(15deg);
}
/* END:kwis */

/* appraiser */
.appraiser {
    width: calc(100% - 200px);
    padding: 25px 18px 10px;
    margin: 0 auto;
}
.appraiser__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 25px;
}
.appraiser__cards_card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
.appraiser__cards_card:first-child {
    margin-right: 50px;
}
.appraiser__cards_card div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.appraiser__cards_card span {
    font-weight: 600;
}
/* END:appraiser */

/* scales */
.scales {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    padding-bottom: 100px;
}
.scales__img {
    width: 400px;
}
.scales picture:nth-child(2) .scales__img {
    display: none;
}
.scales__text {
    padding: 50px 30px;
}
.scales__text_top {
    color: #253640;
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 25px;
    line-height: 1.2;
    text-transform: uppercase;
}
.scales__text_middle {
    color: #1081ec;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.3;
    text-transform: uppercase;
    padding-bottom: 25px;
}
.scales__text_bottom {
    color: #253640;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 25px;
    position: relative;
}
.scales__recycle {
    position: absolute;
    top: 0;
    height: 75px;
}
.scales__text_buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.scales__text_buttons button span:nth-child(2) {
    display: none;
}

.scales__text_buttons button {
    border-radius: 10px;
    color: #ffffff;
    padding: 20px;
    font-size: 16px;
    font-weight: 700;
    margin-right: 20px;
    outline: none;
    border: none;
    position: relative;
    text-align: center;
    overflow: hidden;
    background-color: #00b75a;
}
.affter-effect {
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    height: 100%;
    -webkit-animation: affterEffect 4s infinite;
            animation: affterEffect 4s infinite;
}
.scales__text_buttons div {
    padding: 15px 0;
    color: #253640;
    font-size: 12px;
    font-weight: 700;
}
/* END:scales */

/* modal-window */
.modal-backgroup {
    display: none;
    width: 100%;
    height: 100vh;
    background: #253640;
    opacity: 0.6;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 999;
}
.modal-backgroup.active,
.modal-wrap.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.modal-wrap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 999;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
}
.modal-window {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    min-width: 320px;
    background: #fff;
    padding: 10px;
    z-index: 999;
}
.modal-window.link {
    background: transparent;
    width: 100%;
    height: 100%;
}
.modal-window.p-0 {
    background: transparent;
    padding: 0;
}
.modal-window.link .modal-close {
    color: #fff;
    font-size: 60px;
    width: 60px;
    height: 60px;
}
.modal-close {
    font-size: 30px;
    font-weight: 600;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 2;
    cursor: pointer;
}
.modal-window.p-0 .modal-close {
    color: #fff;
    top: 5px;
    right: 5px;
    z-index: 999;
    width: 30px;
    height: 30px;
    font-size: 30px;
}
.modal-body {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    min-height: auto;
}
.modal-body__home,
.modal-body__problem {
    height: 100%;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 60%;
    padding: 10%;
    background-image: url(img/bg-form.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.modal-body__problem {
    background-image: url(img/modal/bg-problem.png);
    background-image: url(img/modal/bg-problem.webp);
    background-size: 100%;
}
.modal-body__home.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
    padding-top: 10%;
}
.modal-body__home_group {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 1%;
}
.modal-body__home_group a {
    display: block;
    width: 30%;
    height: 100%;
    position: relative;
    margin-left: 1%;
    border-radius: 6px;
    overflow: hidden;
}
.modal-body__home_group a img {
    width: 100%;
    height: 100%;
}
.modal-body__home_group a span {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fff;
    line-height: 100%;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    z-index: 1;
}
.modal-body__home_group a::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .6;
}
.modal-body__home_group:first-child > a:first-child::after {
    background: #4b9ce8;
}
.modal-body__home_group:first-child > a:nth-child(2) {
    margin-top: -6%;
}
.modal-body__home_group:first-child > a:nth-child(2)::after {
    background: #18952d;
}
.modal-body__home_group:first-child > a:nth-child(3)::after {
    background: #591895;
}
.modal-body__home_group:first-child > a:nth-child(3) {
    margin-top: -12%;
}
.modal-body__home_group:first-child > a:last-child::after {
    background: #94ca03;
}
.modal-body__home_group:first-child > a:last-child {
    margin-top: -18%;
}
.modal-body__home_group:last-child > a:first-child::after {
    background: #d36624;
}
.modal-body__home_group:last-child > a:nth-child(2) {
    margin-top: -6%;
}
.modal-body__home_group:last-child > a:nth-child(2)::after {
    background: #4b9ce8;
}
.modal-body__home_group:last-child > a:nth-child(3) {
    margin-top: -12%;
}
.modal-body__home_group:last-child > a:nth-child(3)::after {
    background: #b49000;
}
.modal-body__home_group:last-child > a:last-child {
    margin-top: -18%;
}
.modal-body__home_group:last-child > a:last-child::after {
    background: #d03516;
}
.modal-body__problem.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.modal-body__problem {
    top: 50%;
    overflow: hidden;
    padding: 20% 10%;
}
.modal-body__problem_links {
    width: 100%;
    padding: 1% 0%;
    z-index: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.modal-body__problem_links a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    line-height: 1;
    border: 1px solid #fff;
    text-decoration: none;
    padding: 5px 10px;
    height: 100%;
    border-radius: 4px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    margin-left: 2%;
}
.modal-body__problem_links a:first-child {
    margin-left: 0;
}
.modal-body__problem_links a:hover {
    -webkit-box-shadow: 0 0 50px rgba(255, 255, 255, 0.48), inset 0 0 0 2px #ffffff;
            box-shadow: 0 0 50px rgba(255, 255, 255, 0.48), inset 0 0 0 2px #ffffff;
}
.phone-mobile {
    display: none;
    background: #ffdf48;
    border-radius: 50%;
    width: 68px;
    height: 68px;
    position: absolute;
    top: -10px;
    right: -10px;
}
 
.modal-body__form {
    display: none;
    max-width: 800px;
    padding: 20px;
}
.modal-body__form p,
.modal-body__form h3 {
    max-width: 78%;
}
.modal-body__form.active {
    display: block;
}
.modal-body__thanks.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.modal-body__thanks {
    display: none;
    padding: 20px;
    max-width: 600px;
}
.modal-body__thanks_checkbox {
    width: 45px;
    height: 45px;
    font-size: 25px;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #18952d;
    border-radius: 4px;
}
.modal-body__thanks_text {
    padding-left: 10px;
}
.modal-body__thanks_text h3 {
    font-size: 20px;
}
.modal-body__video {
    display: none;
    width: 600px;
    height: 450px;
}
.modal-body__video  iframe {
    width: 100%;
    height: 100%;
}
.modal-body__video.active {
    display: block;
}
/* END:modal-window */

/* media */
@media (max-width: 1200px) {
    .phone {
        font-size: 30px;
    }
    .watch-video__clip {
        padding-bottom: 100px;
    }
    .buyout__head {
        font-size: 30px;
    }
    .buyout__price {
        font-size: 18px;
    }
    .modal-body__problem {
        width: 100%;
        padding: 15%;
        padding-left: 30%;
    }
    .watch-video__play-label {
        font-size: 16px;
    }
    .watch-video__play-link {
        width: 80px;
        height: 80px;
    }
    .buyout__head_link-black::after,
    .buyout__head_link-blue::after {
        letter-spacing: 0;
        font-size: 14px;
    }
}
@media (max-width: 1024px) {
    body {
        background-image: url(img/modal/mobile-bg-2.png);
        /* background-image: url(img/modal/mobile-bg-2.webp); */
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .modal-body__problem {
        background-image: url(img/modal/bg-problem.png);
    }
    main {
        background: transparent;
        padding-bottom: 0;
    }
    .communication.custom-container {
        max-width: 100%!important;
    }
    .kwis.custom-container,
    .buyout__price.custom-container,
    .buyout__form.custom-container,
    .buyout__head.custom-container {
        margin: 0 auto;
    }
    .logo__text_body {
        font-weight: 600;
        font-size: 7px;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 0.6px;
        line-height: 1.3;
    }
    .logo__text_link {
        margin-left: -112px;
        color: #ffffff;
        font-weight: 600;
    }
    .logo__text_link > img,
    .logo__text_link p {
        display: none;
    }
    .logo__text_link span {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        font-size: 9px;
    }
    .logo__text_link span img {
        margin-top: 3px;
        height: 7px;
    }
    .logo a:not(.logo__text_link) {
        font-size: 19px;
        color: #ffffff;
        font-weight: 600;
    }
    .appraiser__cards_card:first-child {
        margin: 0 auto;
        padding-bottom: 25px;
    }
    .appraiser__cards_card:last-child {
        padding-top: 25px;
    }
    .appraiser__cards_card img {
        width: 78px;
    }
    .label {
        position: absolute;
        top: 0;
        left: 0;
        height: auto;
        background: #22313b;
        margin-top: 0px;
        -webkit-clip-path: none;
                clip-path: none;
        width: 100%;
        z-index: 10;
    }
    .label__place img {
        display: none;
    }
    .label__place,
    .label__pravo {
        font-size: 20px;
        font-weight: 600;
    }
    .label__rect {
        margin-top: 0;
        text-transform: uppercase;
    }
    .phone-mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .phone {
        display: none;
    }
    header .custom-container {
        padding-top: 10px;
        padding-bottom: 60px;
    }
    .logo {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .communication {
        height: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .buyout {
        padding-bottom: 30px;
        background: transparent;
    }
    .appraiser {
        padding-bottom: 20px;
        background: transparent;
        background-color: transparent;
    }
    .buyout__form {
        padding-top: 15px;
        width: 100%;
    }
    .buyout__form1 {
        width: 100%;
    }
    .buyout__head {
        margin: 0 auto;
        text-align: center;
    }
    .buyout__head {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .buyout__head p:first-child {
        width: 100%;
        margin-bottom: 40px;
        font-size: 22px;
    }
    .buyout__head p:first-child span {
        font-size: 45px;
    }
    .buyout__head p  {
        font-size: 14px;
        width: 200px;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 72px;
    }
    .buyout__head p span {
        font-size: 22px;
        display: block;
        line-height: 1;
        color: #ffdf48;
    }
    .modal-body__thanks_checkbox {
        color: #ffdf48;
    }
    .modal-window {
        background: #1e2a39;
    }
    .buyout__head_link-blue {
        text-decoration: none;
        color: #fff;
        border-bottom: 4px dashed #ffdf48;
    }
    .buyout__head_link-black:after,
    .buyout__head_link-blue:after {
        content: '';
        background: transparent;
    }
    .buyout__form-enter,
    .buyout__form-enter1 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .buyout__form-enter1::before {
        height: 44%;
    }
    .buyout__form button[type="submit"] ,
    .buyout__form1 button[type="submit"],
    .modal__form button[type="submit"] {
        text-align: center;
        padding-left: 20px;
    }
    .modal__form input[type="email"],
    .buyout__form input[type="tel"],
    .buyout__form1 input[type="tel"] {
        max-width: 100%;
        border-color: #ffdf48;
        border-radius: 6px!important;
        border-width: 3px;
        margin-bottom: 10px;
    }
    .modal__form button[type="submit"],
    .buyout__form1 button[type="submit"],
    .buyout__form button[type="submit"] {
        background: #ffdf48;
        border-color: #ffdf48;
        border-radius: 6px!important;
        border-width: 2px;
        margin-left: 0;
        color: #000;
        font-size: 16px;
    }
    .buyout__form button[type="submit"] span {
        display: none;
    }
    .buyout__form1 button[type="submit"]::after,
    .buyout__form button[type="submit"]::after {
        background: transparent;
    }
    .modal__form_checkbox,
    .buyout__form_checkbox,
    .buyout__form_checkbox1 {
        max-width: 100%;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-top: 12px;
    }
    .modal__form_checkbox label, .buyout__form_checkbox label,
    .buyout__form_checkbox1 label {
        display: block;
        color: #ffffff;
    }
    .modal__form_checkbox label a,
    .buyout__form_checkbox label a,
    .buyout__form_checkbox1 label a {
        color: #fff;
    }
    .modal__form_checkbox label::before, 
    .buyout__form_checkbox label::before, 
    .buyout__form_checkbox1 label::before {
        background: #ffdf48;
        margin-top: -5px;
    }
    .buyout__price {
        font-size: 16px;
        color: #fff;
    }    
    .buyout__price span {
        background: transparent;
        border-color: #fff;
        color: #fff;
    }
    .buyout__price_scope {
        margin-bottom: 15px;
    }
    .buyout__price_scope,
    .buyout__price_per {
        width: auto;
    }
    .buyout__head_link-black {
        text-decoration: none!important;
        color: #fff;
        border-bottom: 4px dashed #ffdf48;
    }
    .buyout__form input[type="tel"],
    .buyout__form1 input[type="tel"] {
        width: 100%;
        padding-right: 5px;
        min-width: 300px;
    }
    .kwis__title {
        color: #fff;
        text-align: center;
    }
    .kwis__cards {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .kwis__card {
        margin-bottom: 15px;
        margin-right: 0;
    }
    .kwis__card_free,
    .kwis__button,
    .kwis__card_marker {
        background: #ffdf48;
        color: #000;
    }
    .kwis__button_subtext,
    .kwis__button_text {
        color: #000;
    }
    .kwis__button_img:first-child {
        display: none;
    }
    .kwis__button_img:nth-child(2) {
        display: inline-block;
    }
    .kwiss__buttons {
        margin-top: 10px;
    }
    .scales {
        padding-bottom: 0;
    }
    .scales__text_top {
        color: #fff;
        font-size: 13px;
        text-transform: uppercase;
    }
    .scales__text_middle {
        color: #f4d74a;
        font-size: 28px;
    }
    .scales__text_bottom {
        color: #fff;
        font-weight: 400;
        font-size: 15px;
    }
    .scales__text_buttons div {
        display: none;
    }
    .modal__form-enter{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .buyout__form1 button[type="submit"],
    .buyout__form button[type="submit"]  {
        width: 100%;
        min-width: 300px;
    }
    .watch-video {
        position: relative;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        height: 400px;
    }
    .watch-video::before {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: -o-linear-gradient(135deg, #3a5eab 0%, #53c8ea 99%, #53c8ea 100%);
        background-image: linear-gradient(-45deg, #3a5eab 0%, #53c8ea 99%, #53c8ea 100%);
        opacity: 0.7;
        z-index: 1;
    }
    .watch-video.custom-container {
        width: 100%!important;
        margin: 0;
        max-width: 100%!important;
    }
    .watch-video__clip {
        padding: 0;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        background-image: url(img/bg-video-mobile.png);
        /* background-image: url(img/bg-video-mobile.webp); */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .watch-video__play-link {
        border-color: transparent;
        background: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-animation: none;
                animation: none;
    }
    .watch-video__play-triangle {
        background: #fff;
        width: 80px;
        height: 88px;
        background: url(img/play-arrow.png) center no-repeat;
        background-size: contain;
        -webkit-clip-path: none;
                clip-path: none;
        margin: 0;
    }
    .watch-video__play-label {
        padding-right: 20px;
    }
    .watch-video__play {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        background: transparent;
        height: 75%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .watch-video__play-label {
        background: transparent;
        text-align: center;
        color: #fff;
        font-size: 30px;
        line-height: 30px;
        padding-bottom: 10%;
        font-weight: 600;
        margin-left: 0;
    }
    .appraiser {
        width: 100%;
    }
    .appraiser__cards {
        padding-bottom: 50px;
        padding-top: 20px;
        position: relative;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .appraiser__cards_card {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        width: 70%;
        color: #fff;
        margin: 0 auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        z-index: 1;
    }
    .appraiser__cards:before {
        content: '';
        position: absolute;
        top: 30px;
        left: 0;
        display: block;
        width: 108%;
        height: 100%;
        background: url(img/arrow-mobile.png) center no-repeat;
    }
    .appraiser__cards_card div {
        text-align: center;
    }
    .buyout__form1 {
        padding-top: 15px;
    }
    .modal-body__problem {
        padding-left: 20%;   
    }
    .scales {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center;
    }
    .scales__text_buttons {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .modal-window {
        -webkit-box-shadow: 0 0 32px rgba(255, 223, 72, 0.49), inset 0 0 24px rgba(255, 223, 72, 0.6), inset 0 0 0 2px #ffdf48;
                box-shadow: 0 0 32px rgba(255, 223, 72, 0.49), inset 0 0 24px rgba(255, 223, 72, 0.6), inset 0 0 0 2px #ffdf48;
    }
    .modal__form {
        color: #fff;
    }
    .modal-close {
        color: #ffdf48;
    }
    .modal-body__thanks_text {
        color: #fff;
    }
    .modal-body__thanks_checkbox {
        color: #1c2837;
        background: #ffdf48;
        -webkit-box-shadow: 0 15px 24px rgba(255, 223, 72, 0.41);
                box-shadow: 0 15px 24px rgba(255, 223, 72, 0.41);
    }
    .modal__form_checkbox label::before,
    .buyout__form_checkbox label::before,
    .buyout__form_checkbox1 label::before {
        color: #1c2837;
    }
    .scales__text_buttons button {
        background: #ffdf48;
        color: #000;
        margin: 0;
        font-weight: 700;
        font-size: 16px;
    }
    .scales__recycle,
    .scales picture:first-child .scales__img,
    .scales__text_buttons span:first-child {
        display: none;
    }
    .scales__text_buttons button span:nth-child(2) {
        display: inline-block;
    }
    .scales picture:last-child .scales__img {
        display: inline-block;
    }
    .scales__img {
        width: auto;
    }
    .scales__text {
        padding-top: 0px;
    }
}
@media (max-width: 768px) {
    .buyout__head_link-blue::after,
    .buyout__head_link-black::after {
        content: none;
    }
    .buyout__form-enter,
    .buyout__form-enter1 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .buyout__form1 button[type="submit"], .buyout__form button[type="submit"],
    .buyout__form input[type="tel"], .buyout__form1 input[type="tel"] {
        margin: 5px 0;
        width: 100%;
        max-width: 100%;
    }
    .buyout__form_checkbox {
        display: block;
    }
    .modal__form_checkbox input[type=checkbox],
    .buyout__form_checkbox input[type=checkbox], 
    .buyout__form_checkbox1 input[type=checkbox] {
        position: absolute;
        top: 11px;
        left: 4px;
    }
    .modal__form_checkbox label::before,
    .buyout__form_checkbox label::before,
    .buyout__form_checkbox1 label::before {
        margin-top: 0;
    }
    .buyout__form-enter1::before {
        height: 66px;
    }
    .modal-body__home {
        width: 100%;
    }
    .modal-body__problem_links a {
        font-size: 14px;
    }
    .modal-body__problem {
        padding-left: 15%;
        padding-right: 10%;
    }
    .buyout__price:before {
        left: 20%;
    }
}
@media (max-width: 540px) {
    .modal-body__problem_links a {
        font-size: 10px;
    }
    .appraiser__cards_card {width: 100%}
    .modal-body__home_group a span {
        font-size: 12px;
    }
    .body__problem_links a {
        font-size: 10px;
    }
    .buyout__price span {
        display: block;
        text-align: center;
    }
    .buyout__price:before {
        left: 5%;
    }
    .label__place, .label__pravo {
        font-size: 14px;
    }
    .buyout__head p {
        width: 50%;
        line-height: 1.3;
    }
    .buyout__head span {
        display: block;
        padding-top: 15px;
    }
}
@media (max-width: 480px) {
    .buyout__head {
        line-height: 35px;
        font-size: 35px;
    }
    .buyout__head span {
        display: block;
        font-size: 22px;
        padding-top: 15px;
    }
    .buyout__price:before {
        left: 3%;
    }
    .watch-video__play-label {
        font-size: 22px;
    }
    .buyout,.appraiser {
        padding-left: 0;
        padding-right: 0;
    }
    .appraiser__cards_card div {
        font-size: 15px;
    }
    .appraiser__cards_card div span {
        font-size: 18px;
    }
    .appraiser__cards_card {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: auto;
        text-align: center;
        margin-bottom: 10px;
    }
    .appraiser__cards_card img {
        width: 100px;
        margin: 0 auto;
    }
    .modal-body__problem {
        padding-left: 5%;
        padding-right: 5%;
    }
    .modal-body__form p, .modal-body__form h3 {
        max-width: 100%;
    }
    .modal__form-enter {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .modal__form-enter input {
        width: 100%;
    }
    .modal-body__thanks {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
    .modal-body__thanks_text {
        padding: 0;
    }
    .modal-body__thanks_text h3,
    .modal-body__thanks_text p {
        margin-bottom: 10px;
    }
    .modal__form-enter button {
        margin-top: 10px;
    }
    .scales__text {
        padding: 0;
        padding-bottom: 30px;
    }
    .kwiss__buttons button {
        width: 100%;
    }
    .kwis__arrow {
        display: none;
    }
    .buyout__price_scope {
        text-align: center;
    }
    .modal-body__problem_links a {
        line-height: 1;
        padding: 3px 5px;
        font-size: 10px;
    }
}
@media (max-width: 360px) {
    .modal-body__problem_links {
        padding-bottom: 0;
        padding-left: 0;
    }
    .modal-body__problem_links a {
        font-size: 9px;
        padding: 2px;
    }
    .modal-body__problem {
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (orientation: landscape) and (max-width: 480px) {
    .modal-body__problem {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .modal-body__problem_links a {
        font-size: 10px;
    }
}

/* container-width */
@media (min-width: 320px) {
    .custom-container {
        max-width: 300px!important;
    }
}
@media (min-width: 375px) {
    .custom-container {
        max-width: 320px!important;
    }
}
@media (min-width: 480px) {
    .custom-container {
        max-width: 375px!important;
    }
}
@media (min-width: 540px) {
    .custom-container {
        max-width: 480px!important;
    }
}
@media (min-width: 576px) {
    .custom-container {
        max-width: 540px!important;
    }
}
@media (min-width: 768px) {
    .custom-container {
        max-width: 720px!important;
    }
}
@media (min-width: 1024px) {
    .custom-container {
        max-width: 960px!important;
    }
}
@media (min-width: 1200px) {
    .custom-container {
        max-width: 1140px!important;
    }
}
@media (min-width: 1366px) {
    .custom-container {
        max-width: 1280px!important;
    }
}

@media (min-width: 1580px) {
    .custom-container {
        max-width: 1440px!important;
    }
}

@media (min-width: 1920px) {
    .custom-container {
        max-width: 1780px!important;
    }
    .communication {
        height: 850px;
    }
    .buyout {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }
    .buyout__head {
        font-size: 55px;
        margin-bottom: 30px;
    }
    .buyout__head_link-black::after,
    .buyout__head_link-blue::after {
        font-size: 24px;
    }
    .logo a:not(.logo__text_link) {
        font-size: 36px;
    }
    .kwis__card_text,
    .logo__text_body {
        font-size: 16px;
    }
    .logo__text_link {
        font-size: 16px;
        margin-left: -200px;
    }
    .phone {
        font-size: 55px;
    }
    .buyout__price {
        font-size: 35px;
    }
    .kwis {
        margin-top: 30px;
    }
    .kwis__title {
        font-size: 25px;
        margin-bottom: 20px;
    }
    .kwis__card {
        margin-right: 15px;
        padding: 10px 15px;
    }
    .kwis__card_marker {
        width: 30px;
        height: 30px;
    }
    .kwis__card_free {
        font-size: 15px;
    }
    .kwiss__buttons {
        margin-top: 35px;
    }
    .kwis__button_text {
        font-size: 25px;
    }
    .kwis__button_subtext {
        font-size: inherit;
    }
    .kwis__button_img {
        margin-right: 20px;
        height: 65px;
    }
    .kwis__arrow {
        margin-left: 30px;
        height: 110px;
        margin-top: -25px;
    }
    .watch-video__clip {
        padding-bottom: 145px;
    }
    .modal-body__problem_links a {
        font-size: 25px;
    }
}

@media (min-width: 2060px) {
    .custom-container {
        max-width: 1920px!important;
    }
}
/* END:container-width */
@-webkit-keyframes affterEffect {
    0% {
        left: -100%;
    }
    40% {
        left: 100%;
    }
    100% {
        left: 100%;
    }
}
@keyframes affterEffect {
    0% {
        left: -100%;
    }
    40% {
        left: 100%;
    }
    100% {
        left: 100%;
    }
}
@-webkit-keyframes pulseShadow {
    0% {
        -webkit-box-shadow: 0px 0px 17px -3px rgba(37,54,64,1);
        box-shadow: 0px 0px 17px -3px rgba(37,54,64,1);
    }
    100% {
        -webkit-box-shadow: 0px 0px 27px -3px rgba(37,54,64,1);
        box-shadow: 0px 0px 27px -3px rgba(37,54,64,1);
    }
}
@keyframes pulseShadow {
    0% {
        -webkit-box-shadow: 0px 0px 17px -3px rgba(37,54,64,1);
        box-shadow: 0px 0px 17px -3px rgba(37,54,64,1);
    }
    100% {
        -webkit-box-shadow: 0px 0px 27px -3px rgba(37,54,64,1);
        box-shadow: 0px 0px 27px -3px rgba(37,54,64,1);
    }
}