* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    background: #E7F3FA;
}
.overflow-hidden {
    overflow: hidden;
}
input {
    outline: none;
    box-shadow: none;
    appearance: none;
}
button {
    appearance: none;
    cursor: pointer;
}

main {
    width: 100vw;
    height: auto;
    background: url(img/bg.png) no-repeat center;
    background: url(img/bg.webp) no-repeat center;
    background-size: cover;
    padding-bottom: 150px;
}
.custom-container {
    max-width: 1280px;
    margin: 0 auto;
}

/* header */
header {
    width: 100%;
}
header .custom-container {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}
.logo {
    display: flex;
    align-items: flex-start;
}
.logo a:not(.logo__text_link) {
    display: block;
    height: 60px;
    text-decoration: none;
    color: #22313B;
    font-size: 22px;
    margin-right: 10px;
    font-weight: 600;
}
.logo__text {
    color: #22313B;
    display: flex;
    flex-direction: column;
}
.logo__text_head {
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 22px;
}
.logo__text_body {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}
.logo__text_link {
    font-family: sans-serif;
    text-decoration: none;
    color: #22313B;
    font-size: 13px;
    margin-top: 7px;
    margin-left: -115px;
}
.label {
    margin-top: -21px;
    height: 122px;
    width: 351px;
    background: #54A1E9;
    clip-path: polygon(0 1%, 100% 1%, 100% 100%, 50% 90%, 0 100%);
}
.label__rect {
    margin-top: 15px;
    height: calc(100% - 21px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.label__place {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}
.label__place img {
    transform: rotate(180deg);
    width: 23px;
}
.label__pravo {
    padding-left: 10px;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
}
.label__pravo a {
    color: #fff;
}
.phone {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 600;
}
/* END:header */

/* communication */
.communication {
    display: flex;
    height: 500px;
}
.buyout {
    flex: 0 0 63%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
}
.buyout__head {
    font-size: 42px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: #253640;
    margin-bottom: 15px;
}
.buyout__head_link-blue {
    color: #4B9CE8;
    text-decoration: none;
    position: relative;
}
.buyout__head_link-black {
    color: #253640;
    text-decoration: none;
    position: relative;
}
.buyout__head_link-black::after {
    background: url(img/black-link.svg) no-repeat;
}
.buyout__head_link-blue::after {
    background: url(img/blue-link.svg) no-repeat;
}
.buyout__head_link-black::after,
.buyout__head_link-blue::after {
    content: 'посмотреть список';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 16px;
    background-size: 100% 100%;
    transform: translateY(70%);
    font-size: 12px;
    line-height: 10px;
    text-align: center;
    color: #fff;
}
.buyout__price {
    font-weight: 800;
    color: #253640;
}
.buyout__price_per {
    margin-bottom: 8px;
}
.buyout__price span { 
    display: inline-block;
    background: #4B9CE8;
    padding: 5px;
    border-radius: 4px;
    color: #fff;
}
.buyout__form,
.buyout__form1
.modal__form {
    padding-top: 44px;
}
.buyout__form1 {
    width: fit-content;
    margin: 0 auto;
}
.modal__form-enter,
.buyout__form-enter,
.buyout__form-enter1 {
    display: flex;
}
.buyout__form-enter1 {
    position: relative;
}
.buyout__form-enter1::before {
    content: '+7';
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 20px;
    display: flex;
    align-items: center;
    width: 20px;
    height: 100%;
}
.modal__form input[type="email"],
.buyout__form input[type="tel"],
.buyout__form1 input[type="tel"] {
    font-size: 30px;
    max-width: 400px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.modal__form input[type="email"] {
    max-width: 300px;
}
.modal__form1 button[type="submit"] span 
.buyout__form1 button[type="submit"] span {
    font-weight: 700;
}
.modal__form button[type="submit"],
.modal__form input[type="email"],
.buyout__form1 button[type="submit"],
.buyout__form1 input[type="tel"],
.buyout__form button[type="submit"],
.buyout__form input[type="tel"] {
    min-height: 60px;
    height: auto;
    padding: 0 20px;
    border: none;
}
.modal__form input[type="email"],
.buyout__form1 input[type="tel"],
.buyout__form input[type="tel"] {
    border: 2px solid #00B75A;
}
.buyout__form1 input[type="tel"] {
    padding-left: 60px;
}
.modal__form button[type="submit"],
.buyout__form1 button[type="submit"],
.buyout__form button[type="submit"] {
    background: #00B75A;
    margin-left: -5px;
    color: #fff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-weight: 800;
    text-align: left;
    position: relative;
    padding-left: 67px;
    transition: .3s;
    backface-visibility: hidden;
    z-index: 1;
}
.modal__form button[type="submit"]:before,
.buyout__form1 button[type="submit"]:before,
.buyout__form button[type="submit"]:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    width: 100%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: #22313B;
    transition: .3s;
    opacity: 0.6;
    z-index: -1;
    transform: scaleX(0);
}
.modal__form button[type="submit"]:hover:before,
.buyout__form1 button[type="submit"]:hover:before,
.buyout__form button[type="submit"]:hover:before {
    transform: scaleX(1);
}
.modal__form button[type="submit"] {
    padding-left: 20px;
}
.buyout__form1 button[type="submit"]::after,
.buyout__form button[type="submit"]::after {
    content: '';
    position: absolute;
    top: 8px;
    left: 15px;
    display: block;
    background: url(img/hand.svg) no-repeat;
    background-size: contain;
    width: 42px;
    height: 44px;
}
.buyout__form1 button[type="submit"]::after {
    background: url(img/eye.png) no-repeat;
    width: 39px;
    height: 21px;
    top: 20px;
}
.modal__form_checkbox,
.buyout__form_checkbox,
.buyout__form_checkbox1 {
    padding-top: 8px;
    position: relative;
}
.modal__form_checkbox label,
.buyout__form_checkbox label,
.buyout__form_checkbox1 label {
    text-transform: uppercase;
    position: relative;
    padding-left: 25px;
    font-size: 9px;
    display: flex;
    height: 20px;
    align-items: center;
}
.modal__form_checkbox label a,
.buyout__form_checkbox label a,
.buyout__form_checkbox1 label a {
    color: #253640;
}
.modal__form_checkbox label::before,
.buyout__form_checkbox label::before,
.buyout__form_checkbox1 label::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    height: 20px;
    width: 20px;
    background-color: #00B75A;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}
.modal__form_checkbox input[type=checkbox],
.buyout__form_checkbox input[type=checkbox],
.buyout__form_checkbox1 input[type=checkbox]  {
    opacity: 0;
    top: 10px;
    left: 17px;
    position: absolute;
}
.modal__form_checkbox input[type=checkbox]:checked + label::before,
.buyout__form_checkbox input[type=checkbox]:checked + label::before,
.buyout__form_checkbox1 input[type=checkbox]:checked + label::before {
    content: '\2714';
}
.watch-video {
    flex: 0 0 37%;
    height: 100%;
}
.watch-video__clip {
    width: inherit;
    position: relative;
    height: inherit;
    overflow: hidden;
    padding-left: 20px;
    padding-bottom: 40px;
    display: flex;
    align-items: flex-end;
    background: url(img/bg-small.png) no-repeat center;
    background: url(img/bg-small.webp) no-repeat center;
    background-size: contain;
}
.watch-video__clip img {
    position: absolute;
    top: 0;
    height: inherit;
    left: -50%;
    z-index: 0;
}
.watch-video__play {
    z-index: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.watch-video__play-link {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #00B75A;
    background: #fff;
}
.watch-video__play-triangle {
    display: block;
    clip-path: polygon(100% 50%, 0 0, 0 100%);
    background: #00B75A;
    width: 30px;
    height: 38px;
    margin-left: 6px;
}
.watch-video__play-label {
    z-index: 1;
    background: #fff;
    padding: 8px 20px;
    padding-right: 100px;
    line-height: 16px;
    margin-left: -13px;
    font-size: 9px;
}
/* END:communication */

/* appraiser */
.appraiser {
    width: calc(100% - 200px);
    padding: 25px 18px 10px;
    margin: 0 auto;
}
.appraiser__cards {
    display: flex;
    justify-content: center;
}
.appraiser__cards_card {
    display: flex;
    flex: 0 0 43%;
}
.appraiser__cards_card div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.appraiser__cards_card span {
    font-weight: 600;
}
/* END:appraiser */

/* modal-window */
.modal-backgroup {
    display: none;
    width: 100%;
    height: 100vh;
    background: #253640;
    opacity: 0.6;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 999;
}
.modal-backgroup.active,
.modal-wrap.active {
    display: flex;
}
.modal-wrap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 999;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.modal-window {
    position: relative;
    width: fit-content;
    min-width: 320px;
    background: #fff;
    padding: 10px;
    z-index: 999;
}
.modal-window.link {
    background: transparent;
    width: 100%;
    height: 100%;
}
.modal-window.p-0 {
    background: transparent;
    padding: 0;
}
.modal-window.link .modal-close {
    color: #fff;
    font-size: 60px;
    width: 60px;
    height: 60px;
}
.modal-close {
    font-size: 30px;
    font-weight: 600;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    cursor: pointer;
}
.modal-window.p-0 .modal-close {
    color: #fff;
    top: 5px;
    right: 5px;
    z-index: 999;
    width: 30px;
    height: 30px;
    font-size: 30px;
}
.modal-body {
    width: fit-content;
    height: auto;
    min-height: auto;
}
.modal-body__home,
.modal-body__problem {
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    padding: 10%;
    background-image: url(img/bg-form.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.modal-body__problem {
    background-image: url(img/modal/bg-problem.png);
    background-image: url(img/modal/bg-problem.webp);
}
.modal-body__home.active {
    display: flex;
    padding-top: 15%;
    padding-left: 8%;
}
.modal-body__home_group {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2%;
}
.modal-body__home_group a {
    display: block;
    width: 30%;
    height: 100%;
    position: relative;
    margin-left: 2%;
    border-radius: 6px;
    overflow: hidden;
}
.modal-body__home_group a img {
    width: 100%;
    height: 100%;
}
.modal-body__home_group a span {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    line-height: 100%;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    z-index: 1;
}
.modal-body__home_group a::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .6;
}
.modal-body__home_group:first-child > a:first-child::after {
    background: #4b9ce8;
}
.modal-body__home_group:first-child > a:nth-child(2) {
    margin-top: -6%;
}
.modal-body__home_group:first-child > a:nth-child(2)::after {
    background: #18952d;
}
.modal-body__home_group:first-child > a:last-child::after {
    background: #591895;
}
.modal-body__home_group:first-child > a:last-child {
    margin-top: -12%;
}
.modal-body__home_group:nth-child(2) > a:first-child::after {
    background: #d36624;
}
.modal-body__home_group:nth-child(2) > a:nth-child(2) {
    margin-top: -6%;
}
.modal-body__home_group:nth-child(2) > a:nth-child(2)::after {
    background: #18a88b;
}
.modal-body__home_group:nth-child(2) > a:last-child::after {
    background: #b49000;
}
.modal-body__home_group:nth-child(2) > a:last-child {
    margin-top: -12%;
}
.modal-body__home_group:last-child > a:first-child::after {
    background: #d03516;
}
.modal-body__home_group:last-child > a:nth-child(2)::after {
    background: #4b9ce8;
}
.modal-body__home_group:last-child > a:nth-child(2) {
    margin-top: -6%;
    margin-left: 2%;
}
.modal-body__home_group:last-child > a:last-child::after {
    background: #94ca03;
}
.modal-body__home_group:last-child > a:last-child {
    margin-top: -12%;
}
.modal-body__problem.active {
    display: flex;
    align-items: center;
}
.modal-body__problem {
    top: 50%;
    overflow: hidden;
    padding-right: 8%;
    padding-left: 12%;
}
.modal-body__problem_links {
    height: 60px;
    width: 100%;
    padding: 2%;
    z-index: 3;
}
.modal-body__problem_links a {
    display: inline-flex;
    align-items: center;
    width: fit-content;
    height: 100%;
    line-height: 100%;
    border: 1px solid #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    padding: 0 2%;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    margin-left: 2%;
}
.modal-body__problem_links a:hover {
    border-color: #c0f826;
}
.modal-body__problem_links:first-child {
    padding-left: 3%;
}
.modal-body__problem_links:nth-child(3) {
    padding-left: 3%;
}
.modal-body__problem_links:nth-child(5) {
    padding-left: 0%;
}
.modal-body__problem_links:nth-child(6) {
    margin-left: -3%;
    padding-left: 0%;
}
.modal-body__problem_links:nth-child(7) {
    margin-left: -6%;
    padding-left: 0%;
}
.phone-mobile {
    display: none;
}
 
.modal-body__form {
    display: none;
    max-width: 800px;
    padding: 20px;
}
.modal-body__form p,
.modal-body__form h3 {
    max-width: 78%;
}
.modal-body__form.active {
    display: block;
}
.modal-body__thanks.active {
    display: flex;
}
.modal-body__thanks {
    display: none;
    padding: 20px;
    max-width: 600px;
}
.modal-body__thanks_checkbox {
    width: 45px;
    height: 45px;
    font-size: 25px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #18952d;
    border-radius: 4px;
}
.modal-body__thanks_text {
    padding-left: 10px;
}
.modal-body__thanks_text h3 {
    font-size: 20px;
}
.modal-body__video {
    display: none;
    width: 600px;
    height: 450px;
}
.modal-body__video  iframe {
    width: 100%;
    height: 100%;
}
.modal-body__video.active {
    display: block;
}
/* END:modal-window */

/* media */
@media (max-width: 1200px) {
    .phone {
        font-size: 30px;
    }
    .watch-video__clip {
        padding-bottom: 100px;
    }
    .buyout__head {
        font-size: 30px;
    }
    .modal-body__problem {
        width: 100%;
        padding: 15%;
        padding-left: 25%
    }
}
@media (max-width: 992px) {
    main {
        background: #E3ECF2;
        padding-bottom: 0;
    }
    .logo__text_body {
        font-size: 10px;
    }
    .logo a:not(.logo__text_link) {
        line-height: 35px;
    }
    .logo {
        align-items: center;
    }
    .label {
        position: absolute;
        top: 0;
        left: 0;
        height: auto;
        background: #22313b;
        margin-top: 0px;
        clip-path: none;
        width: 100%;
        z-index: 10;
    }
    .label__place img {
        display: none;
    }
    .label__place,
    .label__pravo {
        font-size: 20px;
        font-weight: 600;
    }
    .label__rect {
        margin-top: 0;
        text-transform: uppercase;
    }
    .phone-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .phone {
        display: none;
    }
    header .custom-container {
        padding: 40px 0;
    }
    .logo {
        justify-content: center;
    }
    .communication {
        height: auto;
        flex-direction: column;
    }
    .buyout {
        padding-bottom: 100px;
        background: url(img/modal/bg-mobile-top.png) no-repeat center;
        background: url(img/modal/bg-mobile-top.webp) no-repeat center;
        background-size: cover;
    }
    .appraiser {
        padding-bottom: 80px;
        background: url(img/modal/bg-mobile-bottom.png) no-repeat center bottom;
        background: url(img/modal/bg-mobile-bottom.webp) no-repeat center bottom;
        background-size: 100%!important;
    }
    .buyout__form {
        padding-top: 15px;
        width: 100%;
    }
    .buyout__form1 {
        width: 100%;
    }
    .buyout__head {
        margin: 0 auto;
        text-align: center;
    }
    .buyout__head {
        font-size: 30px;
    }
    .buyout__head span {
        font-size: 25px;
    }
    .buyout__head_link-blue {
        text-decoration: none;
        border-bottom: 4px dashed #508fcf;
    }
    .buyout__head_link-black:after,
    .buyout__head_link-blue:after {
        content: '';
        background: transparent;
    }
    .buyout__price {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        margin-top: 10px;
        color: #676F75;
        opacity: 0.7;
    }
    .buyout__form-enter,
    .buyout__form-enter1 {
        flex-direction: column;
        align-items: center;
    }
    .buyout__form-enter1::before {
        height: 50%;
    }
    .buyout__form button[type="submit"] ,
    .buyout__form1 button[type="submit"],
    .modal__form button[type="submit"] {
        text-align: center;
        padding-left: 20px;
    }
    .buyout__form1 button[type="submit"] span {
        font-weight: 400;
    }
    .modal__form input[type="email"],
    .buyout__form input[type="tel"],
    .buyout__form1 input[type="tel"] {
        max-width: 100%;
        border-color: #0066C9;
        border-radius: 6px!important;
        border-width: 3px;
        margin-bottom: 10px;
    }
    .modal__form button[type="submit"],
    .buyout__form1 button[type="submit"],
    .buyout__form button[type="submit"] {
        background: #0066C9;
        border-color: #0066C9;
        border-radius: 6px!important;
        border-width: 2px;
        margin-left: 0;
    }
    .buyout__form button[type="submit"] span {
        display: none;
    }
    .buyout__form1 button[type="submit"]::after,
    .buyout__form button[type="submit"]::after {
        background: transparent;
    }
    .modal__form_checkbox,
    .buyout__form_checkbox,
    .buyout__form_checkbox1 {
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .modal__form_checkbox label, .buyout__form_checkbox label,
    .buyout__form_checkbox1 label {
        display: block;
    }
    .modal__form_checkbox label::before, 
    .buyout__form_checkbox label::before, 
    .buyout__form_checkbox1 label::before {
        background: #0066C9;
        margin-top: -5px;
    }
    
    .buyout__price span {
        background: transparent;
        color: #676F75;
    }
    .buyout__price_scope,
    .buyout__price_per {
        width: 240px;
    }
    .buyout__price_per {
        margin-bottom: 0;
    }
    .buyout__price:before {
        content: '!';
        color: #676F75;
        position: absolute;
        top: 0;
        left: 28%;
        display: block;
        width: fit-content;
        height: 100%;
        font-size: 100px;
        line-height: 87px;
        font-weight: 100;
    }
    .buyout__head_link-black {
        text-decoration: none!important;
        color: red;
        border-bottom: 4px dashed red;
    }
    .buyout__form input[type="tel"],
    .buyout__form1 input[type="tel"] {
        width: 100%;
        padding-right: 5px;
        min-width: 300px;
    }
    .modal__form-enter{
        display: flex;
        flex-direction: column;
    }
    .modal__form button[type="submit"] {
        font-size: 30px;
    }
    .buyout__form1 button[type="submit"],
    .buyout__form button[type="submit"]  {
        width: 100%;
        min-width: 300px;
        font-size: 30px;
    }
    .watch-video {
        position: relative;
        flex: 0 0 100%;
        height: 400px;
    }
    .watch-video::before {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #22313B;
        opacity: 0.9;
        z-index: 1;
    }
    .watch-video.custom-container {
        width: 100%;
        margin: 0;
        max-width: 100%;
    }
    .watch-video__clip {
        padding: 0;
        align-items: flex-end;
        justify-content: center;
        background: url(img/bg-video-mobile.png) no-repeat center;
        background: url(img/bg-video-mobile.webp) no-repeat center;
        background-size: cover;
    }
    .watch-video__play-link {
        border-color: transparent;
        background: transparent;
    }
    .watch-video__play-triangle {
        background: #fff;
        width: 80px;
        height: 88px;
        background: url(img/play-arrow.png) center no-repeat;
        background-size: contain;
        clip-path: none;
        margin: 0;
    }
    .watch-video__play-label {
        padding-right: 20px;
    }
    .watch-video__play {
        flex-direction: column;
        height: 75%;
        justify-content: space-between;
    }
    .watch-video__play-label {
        background: transparent;
        text-align: center;
        color: #fff;
        font-size: 30px;
        line-height: 30px;
        padding-bottom: 10%;
        font-weight: 600;
        margin-left: 0;
    }
    .appraiser {
        width: 100%;
    }
    .appraiser__cards {
        padding-bottom: 50px;
        position: relative;
        flex-direction: column;
    }
    .appraiser__cards_card {
        flex: 0 0 100%;
        width: 70%;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        z-index: 1;
    }
    .appraiser__cards_card:first-child {
        padding-bottom: 30px;
    }
    .appraiser__cards:before {
        content: '';
        position: absolute;
        top: 30px;
        left: 0;
        display: block;
        width: 108%;
        height: 100%;
        background: url(img/arrow-mobile.png) center no-repeat;
    }
    .appraiser__cards_card div {
        text-align: center;
    }
    .buyout__form1 {
        padding-top: 15px;
    }
    .modal-body__problem {
        padding-left: 25%;   
    }
}
@media (orientation: landscape) {
    .modal-body__problem_links a {
        height: auto;
    }
    .modal-body__problem.active {
        background-size: 100% 100%;
    }
}
@media (max-width: 768px) {
    .buyout__head_link-blue::after,
    .buyout__head_link-black::after {
        content: none;
    }
    .buyout__form-enter,
    .buyout__form-enter1 {
        flex-direction: column;
    }
    .buyout__form1 button[type="submit"], .buyout__form button[type="submit"],
    .buyout__form input[type="tel"], .buyout__form1 input[type="tel"] {
        margin: 5px 0;
        width: 100%;
        max-width: 100%;
    }
    .buyout__form_checkbox {
        display: block;
    }
    .modal__form_checkbox input[type=checkbox],
    .buyout__form_checkbox input[type=checkbox], 
    .buyout__form_checkbox1 input[type=checkbox] {
        position: absolute;
        top: 11px;
        left: 4px;
    }
    .modal__form_checkbox label::before,
    .buyout__form_checkbox label::before,
    .buyout__form_checkbox1 label::before {
        margin-top: 0;
    }
    .buyout__form-enter1::before {
        height: 66px;
    }
    .modal-body__home {
        width: 100%;
    }
    .modal-body__problem_links a {
        font-size: 16px;
    }
    .modal-body__problem_links {
        height: 40px;
    }
    .modal-body__problem {
        padding-left: 18%;
        padding-right: 10%;
    }
    .buyout__price:before {
        left: 20%;
    }
}
@media (max-width: 540px) {
    .appraiser__cards_card {width: 100%}
    .modal-body__home_group a span {
        font-size: 12px;
    }
    .buyout__price:before {
        left: 5%;
    }
    .modal-body__problem_links a {
        font-size: 12px;
    }
    .label__place, .label__pravo {
        font-size: 14px;
    }
    .buyout__head {
        line-height: 46px;
        font-size: 42px;
    }
    .buyout__head span {
        display: block;
        padding-top: 15px;
    }
    .buyout__form1 button[type="submit"],
    .buyout__form button[type="submit"] {
        font-size: 25px;
    }
}
@media (max-width: 480px) {
    .buyout__head {
        line-height: 35px;
        font-size: 35px;
    }
    .buyout__form1 button[type="submit"],
    .buyout__form button[type="submit"] {
        font-size: 22px;
    }
    .buyout__head span {
        display: block;
        font-size: 22px;
        padding-top: 15px;
    }
    .buyout__price:before {
        left: 3%;
    }
    .watch-video__play-label {
        font-size: 22px;
    }
    .buyout,.appraiser {
        padding-left: 0;
        padding-right: 0;
    }
    .appraiser__cards_card div {
        font-size: 15px;
    }
    .appraiser__cards_card div span {
        font-size: 18px;
    }
    .appraiser__cards_card {
        flex-direction: column;
        width: auto;
        text-align: center;
        margin-bottom: 10px;
    }
    .appraiser__cards_card img {
        width: 100px;
        margin: 0 auto;
    }
    .modal-body__problem {
        padding-left: 12%;
        padding-right: 0%;
    }
    .modal-body__form p, .modal-body__form h3 {
        max-width: 100%;
    }
    .modal__form-enter {
        flex-direction: column;
    }

    .modal__form-enter input {
        width: 100%;
    }
    .modal-body__thanks {
        flex-direction: column;
        align-items: center;
    }
    .modal__form-enter button {
        margin-top: 10px;
    }
}
@media (max-width: 360px) {
    .modal-body__problem_links {
        height: 32px;
        padding-bottom: 0;
        padding-left: 0;
    }
    .modal-body__problem_links a {
        font-size: 11px;
    }
}

/* container-width */
@media (min-width: 320px) {
    .custom-container {
        max-width: 300px;
    }
}
@media (min-width: 375px) {
    .custom-container {
        max-width: 320px;
    }
}
@media (min-width: 480px) {
    .custom-container {
        max-width: 375px;
    }
}
@media (min-width: 540px) {
    .custom-container {
        max-width: 480px;
    }
}
@media (min-width: 576px) {
    .custom-container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .custom-container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .custom-container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .custom-container {
        max-width: 1140px;
    }
}
@media (min-width: 1280px) {
    .custom-container {
        max-width: 1280px;
    }
}
/* END:container-width */
@keyframes show {
    from: {

    } 
    to: {

    }
}